.navbar{
  background: linear-gradient(135deg, #1F262F, rgba(98, 120, 148, 0.1));
  font-weight: bold;
  font-size: 1.5rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px black;
  border-radius: 0px 0px 20px 20px;
}

.navbar-img img{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 8px;
  transition: 0.3s;
  animation: show-left 0.3s forwards;
}

.navbar-img img:hover{
  box-shadow: 1px 1px 10px #FFDD00;
  height: 45px;
  width: 45px;
  margin-left: 47px;
}

.navbar ul{
  margin: 0px;
  list-style: none;
  display: flex;
  margin-right: 50px;
  text-align: center;
}

.navbar li{
  padding: 20px;
  animation: show-down 0.3s forwards;
}

.navbar a{
  color: #DCDCDC;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover{
  color: #FFDD00;
  font-size: 1.6rem;
}

/*Keyframes*/

@keyframes show-down{
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-left{
  from{
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}